# Build output
x64/
Debug/
Release/
*.exe
*.obj
*.ilk
*.pdb
*.idb
*.tlog
*.log
*.recipe
*.FileListAbsolute.txt

# Visual Studio
.vs/
*.vcxproj.user
*.aps
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled binaries
*.dll
*.lib
*.exp
concurrency_models/concurrency_models/race
concurrency_models/concurrency_models/orderbook_engine
week4/week4/orders.csv 
